html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}
body {
  font-size: $m-size;
}

.header {
  text-align:center;
  padding:$xl-size;
}

.page {
  height:100vh;
  margin-top:-20px;
}

.outer-container {
  width:100%;
  text-align:center;
}

.inner-container {
  margin: 0 auto;
  display:flex;
  justify-content:space-evenly;
  max-width:50rem;
}

.inputField {
  border:none;
  background: transparent;
  width:150px;
}

.inputField:focus {
  outline:none;
}


